body {
    background-image: url("../img/room-2103284_1920.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    /* background-position-x: 50%; */
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

#principal {
    padding-top: 7%;
}

#container {
    margin: 0 auto;
    width: 25%;
    text-align: center;
    background-color: seashell;
    border: 5px solid #000;
    border-radius: 10px;
}

#painel {
    margin: 20px;
}

#coin {
    height: 60px;
    text-align: center;
    font-family: ;
    color: #B6FF00;
    font-size: 22px;
    border: 2px solid #B6FF00;
    padding-left: 10px;
    border-radius: 5px;
}

.btnCoin {
    background-color: tomato;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid red;
    text-align: center;
    margin: 5px;
    font-weight: bold;
}

.btnCoin:hover {
    background-color: salmon;
}

.btnCoin:focus {
    outline: 0;
}

#out {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#janela1 {
    background-color: darkslategray;
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 1;
    color: white;
    line-height: 150PX;
}

#janela2 {
    background-color: rgb(48, 48, 49);
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
}

#bodyMachine,
footer {
    background-color: #fe001a;
}

footer {
    width: 100%;
    height: 150px;
    line-height: 150px;
    color: #fff;
}

#alert {
    color: red;
    font-weight: 700;
}

#coke-footer {
    width: 100%;
    height: 150px;
}

#alert {
    height: 40px;
    margin: 0 auto;
    animation: test 3s ease;
    text-align: center;
    animation-iteration-count: infinite;
}

@keyframes test {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

hr {
    border: 2px solid black;
}

#grid-container {
    width: 25%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 180px;
}

.grid-item {
    width: 100%;
    height: 35px;
    text-align: center;
}

#price {
    background-color: #f5b942;
    padding: 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}